export(SASload.CSVdata)
export(SASnatch.after)
export(SASnatch.before)
export(SASnatch_hook)
export(SnatchSAS)
export(addSASfooter)
export(addSASheader)
export(helloSnatch)
export(makeSAScache)
export(printSASnatch)
export(read.SASnatch.object)
export(read.SASnatch.results)
export(runSASnatch)
export(submitSAScode)
exportClasses(snatchOutput)
